<!--display categories-->
{% macro displayCategories(category_list) %}
  {% for category in category_list %}
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <h2><a href="/category/{{category.id}}">{{ category.title }}</a></h2>
      <h4>{{ category.overview }}</h4>
    </div>
  {% endfor %}
{% endmacro %}

<!--display pitches -->
{% macro displayPitches(pitch_list) %}
  {% for pitches in pitch_list %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3><a href="/pitch/{{pitches.id}}"></h3>
      <h4 class="text-danger">{{pitches.date.strftime('%Y/%m/%d %r')}}</h4>
      <h3>{{pitches.lines|truncate(80)}}</h3>
    </div>
  {% endfor %}
{% endmacro %}

<!--display one pitch-->
{% macro displayOnepitch(one_pitch_list) %}
  {% for comment in one_pitch_list %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      {{comment.comment}}
    </div>
  {% endfor %}
{% endmacro %}
